<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Novo Produto</title>
  </head>
  <body>
    <h1>Cadastrar Novo Produto</h1>
    <form action="/produtos/add" method="POST">
      <p>Nome: <input type="text" name="nome" required /></p>
      <p>Descrição: <textarea name="descricao"></textarea></p>
      <p>Preço: <input type="number" name="preco" step="0.01" required /></p>
      <p>Quantidade: <input type="number" name="quantidade" required /></p>
      <button type="submit">Salvar</button>
    </form>
    <a href="/produtos">Voltar</a>
  </body>
</html>
